<div class="info-bg-container">
    <div class="info-container" [ngClass]="{'container-1': bannerType == infoBannerTypes.BANNER_1, 'container-2': bannerType == infoBannerTypes.BANNER_2}">
        <div class="title-container">
            <div class="title">The Best Platform for Car Rental</div>
            <div class="sub-title">Ease of doing a car rental safely and reliably. Of course at a low price.</div>
        </div>
        <div class="info-button"><span>Rental Car</span></div>
    </div>
</div>

<!-- <img class="info-image" [src]="bannerType == infoBannerTypes.BANNER_1? '../../assets/images/image 7.png': '../../assets/images/image 8.png'" alt="Ad Image"> -->