/* Fonts imported*/

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf) format("opentype");
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  .page-content {
    display: flex;
    justify-content: center;
    .main-container {
      max-width: 1440px;
      width: 100%;
      padding: 2rem 2rem;
    }
  }
}